.Group {
    display: flex;
    flex-direction: column;
    padding: 4px;
    transition: all 0.3s ease-in-out;
}

.Group__header {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    margin: 4px;
    padding: 2px;
}