.Tag {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 0.2rem 0.4rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: #666;
    font-size: smaller;
}