@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Hiding scrollbar for Chrome, Safari and Opera */
.body::-webkit-scrollbar{
  display: none;
}